<!doctype html>
    <html>
        <head>
        <title>Project</title>
        </head>
        <body>
            <h1>Welcome! Please sign in.</h1>
            <form method="post" action="/login">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="bananas" required>

                <label for="password">Password</password>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Sign In">
            </form>
        </body>
    </html>
